.chat-left
  flex: 0 1 58%

.chat-right
  flex: 0 1 40%

.chat-rooms, .room-users
  overflow: auto
  flex: 1

.room-item.deleted
  opacity: 0.4

.action-room-enter
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.roomScreen
    margin: 0px

.roomScreen form
    margin: 0px

.messages
  flex: 1

.messages-body
  list-style: none
  margin: 0
  padding: 5px

.chat-button-container
  float: right

.chat-input-container
  margin-right: 45px
  position: relative

.chat-input.form-control
  width: 100%
  padding-right: 20px // So chat isn't covered by help icon

.chat-help
  position: absolute
  top: 0
  bottom: 0
  right: 5px
  height: auto
  line-height: 36px

