.chat-rooms, .room-users
    height: 180px
    max-height: 180px
    overflow: auto

.action-room-enter
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.roomScreen
    margin: 0px

.roomScreen form
    margin: 0px

.messages
    height: 200px
    overflow: auto
    margin: 0px // Override bootstrap margin
    padding: 8px

.messages .mine
    color:green
