.chat-rooms, .room-users
    height: 150px
    max-height: 150px
    overflow: auto

.roomScreen
    margin: 0px

.roomScreen form
    margin: 0px

.messages
    height: 200px
    overflow:auto

.messages .mine
    color:green
