/*
 Compact styling modifications for bootstrap 2.3.2
 */

form.compact
  margin: 0px

h1.compact, h2.compact, h3.compact, h4.compact, h5.compact, h6.compact
  margin: 0px

p.compact
  margin: 0 0 3px

td.text-center
  text-align: center

.container-fluid.compact
  padding-left: 5px
  padding-right: 5px

.nav.nav-stacked.compact
  margin-bottom: 0px

.nav.compact > li > a
  padding: 5px 8px

.nav-pills.compact:before, .nav-pills.compact:after
  content: none

.navbar.compact
  margin-bottom: 5px

.navbar.compact .nav > li > a
  padding-left: 8px
  padding-right: 8px

.navbar-inner.compact
  padding-left: 8px
  padding-right: 8px

.row-fluid.compact:before, .row-fluid.compact:after
  content: none

.table.compact th
  font-size: 12px // Smaller text = less horizontal space
  font-weight: bold
  line-height: 19px // Height of the sorting chevrons

.well.well-nopad
  padding: 0
  margin: 0

.well.well-skinny
  padding: 3px
  margin-bottom: 4px
