@import 'nib'

.data-body
    padding: 4px
    margin: 0px

.data-filters
    width: 100%

.data-filters > .btn
    padding: 4px 0px
    width: 33.33%

.data-cell
  position: relative
  width: 100%
  overflow: hidden
  // border: 1px dotted #E08E79
  margin-bottom: 3px
  border: 1px solid #CCCCCC

.data-cell,
.data-dragging
  background: white
  border-radius: 5px

/*
.data-cell.bolded
    background: white
    border: 1px solid #69D2E7
*/
.data-cell.data-cell-hidden // Show deleted data to admins
    opacity: 0.4
    border: 1px dotted #CCCCCC

.data-cell .label // full-width header bar
  cursor: move
  display: block
  text-align: left

.data-cell.selected
  background: white
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1) // A rounded outline

.data-cell.selected .label
  background-color: #333333

.data-cell:hover,
.data-dragging
  border: 1px solid #000000

.data-cell:hover,
.data-dragging,
.tweet-icon-container:hover,
.tweet-icon-container.ui-draggable-dragging
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4)

.data-cell-icon
  position: absolute
  bottom: 1px
  right: 1px


