ul.popout-elements
    padding: 4px

.data-cell
    position: relative
    width: 100%
    overflow: hidden
    margin-bottom: 3px
    border-radius: 5px
    border: 3px dotted #CCCCCC

.data-remove
    position: absolute
    bottom: 0
    right: 0

.data-cell:hover,
.data-cell.ui-draggable-dragging
    transform: rotate(-3deg)
    -webkit-transform: rotate(-3deg)
    -moz-transform: rotate(-3deg)
    -ms-transform: rotate(-3deg)
    -o-transform: rotate(-3deg)
    -moz-box-shadow: 8px 8px 5px #666666
    -webkit-box-shadow: 8px 8px 5px #666666
    box-shadow: 8px 8px 5px #666666
    background: white
    border: 3px solid #CFF09E
