/* CSS declarations go here */

html, body
    height: 100%

body
    padding: 20px 20px 0px;

ol, ul
    list-style: none;

blockquote, q
    quotes: none;

blockquote:before, blockquote:after, q:before, q:after
    content: '';
    content: none;

table
    border-collapse: collapse;
    border-spacing: 0;

.full-height
    height: 100%

.user-list
    height: 100px
    max-height: 100px
    overflow: auto
