html, body
    height: 100%

// apply a natural box layout model to all elements
*
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

// Works perfectly with the box-sizing above.
.full-height
    height: 100%

body
    padding: 20px 20px 10px;
    overflow: hidden // Don't expand height/width when shit being dragged off screen

ol, ul
    list-style: none;

blockquote, q
    quotes: none;

blockquote:before, blockquote:after, q:before, q:after
    content: '';
    content: none;

table
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
    // word-wrap: normal
    word-wrap: break-word

.user-list
    height: 80px
    max-height: 80px
    overflow: auto

.scroll-vertical
    overflow-x: hidden
    overflow-y: auto
