@import 'nib'

// apply a natural box layout model to all elements
*, *:before, *:after
    box-sizing border-box

// Except inputs, which would be too small - http://stackoverflow.com/a/15495604/586086
input
    box-sizing content-box

// Works perfectly with the box-sizing above.
html, body, .fill-height
    height: 100%

.fill-parent
  height: 100%
  width: 100%

.fill-width
  width: 100%

body
    // padding: 20px 20px 10px;
    padding-bottom: 5px
    overflow: hidden // Don't expand height/width when shit being dragged off screen

ol, ul
    list-style: none;

blockquote, q
    quotes: none;

blockquote:before, blockquote:after, q:before, q:after
    content: '';
    content: none;

