@import 'nib'

// Fix for bootstrap crapping on openlayers
#map img
    max-width: none

.olControlClickActive
  cursor: crosshair

.olControlLayerSwitcher .layersDiv
  border-radius: 10px 0 0 10px;
  opacity: 0.75;

.olControlLayerSwitcher .layersDiv label
  display: inline // Cancel bootstrap styling

.olControlMousePosition
  color: #b94a48
  font-size: larger !important
  font-weight: bold

// HACK: remove the explicit visibility attribute on the vector layer - causes display issues in Firefox
.olLayerDiv > svg > g
    visibility: inherit !important

// Allow tweet tags to extend outside popups
.olPopup
    overflow: visible !important

.olPopup > div
    overflow: visible !important

.olPopupContent
    overflow: visible !important
    display: block
