// Fix for bootstrap crapping on openlayers
#map img
    max-width: none

.olControlMousePosition
    color: #FFFFFF

// Allow tweet tags to extend outside popups
.olPopup
    overflow: visible !important

.olPopup > div
    overflow: visible !important

.olPopupContent
    overflow: visible !important
    display: block
