@import 'nib'

.carrier
    position: relative

.stack > .pages:not(.active)
    visibility: hidden

.pages
    // overflow: hidden // become a BFC (height wrap), no longer relevant
    position: absolute
    top: 62px
    bottom: 0px
    left: 0px
    right: 0px

table
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
    // word-wrap: normal
    word-wrap: break-word

@keyframes glow {
  to {
    text-shadow: 0 0 10px red;
  }
}

.notification > a.glowing
  animation: glow .5s infinite alternate;

.user-list
    height: 80px
    max-height: 80px
    overflow: auto

.scroll-vertical
    overflow-x: hidden
    overflow-y: auto

.well.well-skinny
    padding: 9px
    // margin-bottom: 5px
    margin: 0px 0px 5px 0px

#editor, #map, #events
    box-shadow 0px 0px 5px 5px rgba(0, 0, 0, 0.2);

#editor
    width: 100%
    position: absolute
    top: 30px
    bottom: 0px

#map, #events
    display: block
    border-radius: 4px

newdoc-height = 30px

#doc-list
    position: absolute
    top: 0px
    bottom: newdoc-height + 10px
    left: 0px
    right: 0px

#events
    position: absolute
    top: 35px // 28px header height
    bottom: 0px
    left: 0px
    right: 0px

.events-header.table, .events-body > .table
    margin-bottom: 0

.events-body, .data-body
    display: block
    height: 100%
    width: 100%;

shadow-color = rgba(0,0,0,0.5)
shadow = 14px
-shadow = - shadow
blur = 4px
spread = -10px

tr.selected > td
    box-shadow:
        0 shadow blur spread shadow-color inset,
        0 -shadow blur spread shadow-color inset

// Since we have to, make the top left and bottom right corners the dark overlapping ones
tr.selected > td:first-child
    box-shadow:
        shadow -shadow blur spread shadow-color inset,
        0 shadow blur spread shadow-color inset

tr.selected > td:last-child
    box-shadow:
        0 -shadow blur spread shadow-color inset,
        -shadow shadow blur spread shadow-color inset

.table-condensed th.vertical-nopad
    padding-top: 0px
    padding-bottom: 0px

.action-document-new
    position: absolute
    height: newdoc-height
    bottom: 0px

.header-num
    width: 45px

.header-buttons, .header-location
    width: 71px

.tweet-icon-container
    display: inline-block

.chopped
    display: inline-block
    max-width: 160px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.center
    float: none
    display: block
    margin-left: auto
    margin-right: auto

.clickme
    cursor: pointer
