@import 'nib'

.stack > .item:not(.active)
  display: none

.stack > .pages:not(.active)
    visibility: hidden

.pages
    position: absolute
    top: 57px // 52px + 5px bottom margin on the navbar
    bottom: 0px
    left: 0px
    right: 0px

@keyframes glow {
  to {
    text-shadow: 0 0 10px red;
  }
}

.notification > a.glowing
  animation: glow .5s infinite alternate;

.bigger-labels .label
  font-size: 85%

.data-labels .label
  // http://stackoverflow.com/q/11126685/586086
  display: inline-block
  padding: 3px 5px

// Right sidebar layout - extra space is distributed evenly
.user-list
  flex: 1

.chat-overview
  flex: 2

.chat-room
  flex: 5
  // https://bugzilla.mozilla.org/show_bug.cgi?id=1108514
  min-height: 0

.user-pill-container, .tweet-icon-container
  border-radius: .25em // To match the label inside, so shadow is round
  display: inline-block
  margin-bottom: 1px

.tweet-icon-container .label
  cursor: move

.tweet-icon-container .popover
  max-width: 250px

.shadow-outline, #editor
  box-shadow 0px 0px 5px 5px rgba(0, 0, 0, 0.2);

.shadow-outline.highlighted
  box-shadow 0px 0px 150px 100px rgba(0, 0, 0, 0.5);

.guidanceMessage
  color: #FFFFFF
  position: absolute
  top: 0
  width: 100%
  height: auto
  z-index: 1000

#editor
    position: absolute
    width: auto
    top: 30px
    bottom: 0
    left: 15px
    right: 15px

#map, #events
    display: block
    border-radius: 4px

newdoc-height = 34px

#doc-list
    position: absolute
    top: 0px
    bottom: newdoc-height + 10px
    left: 0px
    right: 0px

.doc-item.deleted
  opacity: 0.4

#events
    position: absolute
    top: 32px // 27px header height
    bottom: 35px // 30px button height
    left: 0px
    right: 0px

.event-create
  position: absolute
  height: 30px
  left: 0px
  bottom: 0px
  right: 0px

.action-document-new
    position: absolute
    height: newdoc-height
    bottom: 0px

.chopped
  display: inline-block
  font-size: 14px // Esp. necessary to cancel an input-append inheritance
  max-width: 160px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.center
    float: none
    display: block
    margin-left: auto
    margin-right: auto

.clickme
    cursor: pointer
