@import 'nib'


.stack > .pages:not(.active)
    visibility: hidden

.pages
    // overflow: hidden // become a BFC (height wrap), no longer relevant
    position: absolute
    top: 47px // 42px + 5px bottom margin on the navbar
    bottom: 0px
    left: 0px
    right: 0px

table
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
    // word-wrap: normal
    word-wrap: break-word

@keyframes glow {
  to {
    text-shadow: 0 0 10px red;
  }
}

.notification > a.glowing
  animation: glow .5s infinite alternate;

.user-list
  height: 80px
  max-height: 80px

.chat-overview
  height: 172px
  max-height: 172px

#editor, #map, #events
  box-shadow 0px 0px 5px 5px rgba(0, 0, 0, 0.2);

#events.highlighted
  box-shadow 0px 0px 150px 100px rgba(0, 0, 0, 0.5);

#editor
    width: 100%
    position: absolute
    top: 30px
    bottom: 0px

#map, #events
    display: block
    border-radius: 4px

newdoc-height = 30px

#doc-list
    position: absolute
    top: 0px
    bottom: newdoc-height + 10px
    left: 0px
    right: 0px

#events
    position: absolute
    top: 32px // 27px header height
    bottom: 35px // 30px button height
    left: 0px
    right: 0px

.event-create
  position: absolute
  height: 30px
  left: 0px
  bottom: 0px
  right: 0px

.events-header.table, .events-body > .table
    margin-bottom: 0

// Don't allow table headers to wrap - They are also sized small to help with this
.events-header th
    white-space: nowrap

.events-body, .data-body
    display: block
    height: 100%
    width: 100%;

shadow-color = rgba(0,0,0,0.5)
shadow = 14px
-shadow = - shadow
blur = 4px
spread = -10px

tr.selected > td
    box-shadow:
        0 shadow blur spread shadow-color inset,
        0 -shadow blur spread shadow-color inset

// Since we have to, make the top left and bottom right corners the dark overlapping ones
tr.selected > td:first-child
    box-shadow:
        shadow -shadow blur spread shadow-color inset,
        0 shadow blur spread shadow-color inset

tr.selected > td:last-child
    box-shadow:
        0 -shadow blur spread shadow-color inset,
        -shadow shadow blur spread shadow-color inset

.table-condensed th.vertical-nopad
    padding-top: 0px
    padding-bottom: 0px

.action-document-new
    position: absolute
    height: newdoc-height
    bottom: 0px

.header-num
    width: 45px

.header-buttons, .header-location
    width: 71px

.tweet-icon-container
    display: inline-block

.tweet-icon-container .label
  cursor: move

.chopped
    display: inline-block
    max-width: 160px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.center
    float: none
    display: block
    margin-left: auto
    margin-right: auto

.clickme
    cursor: pointer
