#tabs, .pages
    overflow: hidden // become a BFC
    padding-left: 20px

#doc-list
    max-height: 500px
    overflow: auto

#editor
    width: 100%
    height: 600px

#map, #events
    display: block

#map
    height: 600px

#events
    height: 600px
    overflow: auto

table
    table-layout: fixed
    word-wrap: normal
    // word-wrap: break-word

.header-buttons, .header-location
    width: 61px

// Fix for bootstrap crapping on openlayers
#map img
    max-width: none


