#tabs, .pages
    overflow: hidden // become a BFC
    padding-left: 20px

#map, #events
    display: block

#map
    height: 500px

#events
    height: 500px
    overflow: auto

// Fix for bootstrap crapping on openlayers
#map img
    max-width: none
