#tabs, .pages
    overflow: hidden // become a BFC
    padding-left: 20px

#maps, #events
    display: block
    height: 400px
    min-height: 400px

// Fix for bootstrap crap
#map img
    max-width: none
