svg.viz
  .band
    fill: #dddddd
    stroke: #aaaaaa

  .action
    fill: #8c564b

  .action.data-unlink, .action.event-delete
    fill: #7f7f7f

  .action.data-link
    fill: #9467bd

  .action.data-hide
    fill: #d62728

  .action.event-edit
    fill: #1f77b4

  .action.event-update
    fill: #bcbd22

  .action.event-update.location, .action.event-update.province, .action.event-update.region
    fill: #17becf

  .action.event-vote, .action.event-unvote
    fill: #ff7f0e

  .action.event-save
    fill: #2ca02c

  .chat
    fill: #e377c2

  .chat.tagged
    stroke: #000000

  path
    fill-rule: evenodd
    stroke: #ffffff

  path.root
    display: none

  .outline
    fill: #EEEEEE

  .brush .extent
    stroke: #000;
    fill-opacity: .250;
    shape-rendering: crispEdges;
