<template name="chat">
    <div class="row-fluid">
        <div class="span8">
            <p>Chat Rooms:
                <button class="btn btn-mini pull-right" id="addRoom">Create room</button>
            </p>
            <div class="chat-rooms">
            {{> rooms}}
            </div>
        </div>

        <div class="span4">
            {{#if currentRoom}}
            {{> roomUsers}}
            {{/if}}
        </div>
    </div>

    {{#if currentRoom}}
        {{> room}}
    {{/if}}
</template>

<template name="rooms">
    <ul class="nav nav-pills nav-stacked">
        {{#each availableRooms}}
        {{> roomItem}}
        {{/each}}
    </ul>
</template>

<template name="roomItem">
    {{#if active}}
    <li class="active">
    {{else}}
    <li>
    {{/if}}
        <a href="#" class="action-room-enter">
            <span class="badge badge-inverse">{{users}}</span>
            {{#if empty}}
            <i class="icon-trash delete"></i>
            {{/if}}
            {{name}}
        </a>
    </li>
</template>

<template name="roomUsers">
    <p class="text-center">In room:</p>
    <div class="room-users well well-skinny">
        {{#each users}}
        {{> userPill findUser}}
        {{/each}}
    </div>
</template>

<template name="room">

    {{> roomHeader}}

    <ul class="messages well well-skinny">
        {{#each messages}}
        {{> messageItem}}
        {{/each}}
    </ul>
    <form class="form-inline" action="javascript:void(0)">
        <input type="text" id="msg" placeholder="Chat..." />
        <button type="submit" class="btn btn-primary" title="Send">
            <i class="icon-white icon-share-alt"></i>
        </button>
    </form>
</template>

<template name="roomHeader">
    <h4>
        <span class="editable" title="Rename this room">{{roomName}}</span>
        <button type="button" class="btn btn-warning btn-mini pull-right action-room-leave">Leave</button>
    </h4>
</template>

<template name="messageItem">
    <li>
    {{#if author}}
    <span class="">{{author}}:</span> {{text}}
    {{else}}
    <small><i class="muted">{{text}}</i></small>
    {{/if}}
    </li>
</template>
