<template name="userList">
    <div class="well well-skinny user-list scroll-vertical">
        Users:
        {{#each users}}
        {{> userPill}}
        {{/each}}
    </div>
</template>

<template name="userPill">
    <span class="label {{labelClass}}">{{username}}</span>
</template>

<template name="userInvitePopup">
    <button class="btn btn-small btn-info action-chat-invite">Invite to Chat</button>
</template>

<template name="tweetIcon">
    <div class="tweet-icon-container">
        <span class="label label-info">
            <i class="icon-white icon-tag"></i>{{num}}
        </span>
    </div>
</template>

<template name="tweetPopup">
    {{{text}}}
    <span class="editable-clear-x action-unlink-tweet" title="Unlink this tweet"></span>
</template>

<template name="tweetIconClickable">
    <span class="label label-info clickme">
        <i class="icon-white icon-tag"></i>{{num}}
    </span>
</template>

<template name="tweetNumbered">
    <span class="label label-info">
        <i class="icon-white icon-tag"></i>{{num}}
    </span>
    <span class="chopped">{{{text}}}</span>
</template>

<template name="eventIconClickable">
    <span class="label label-important clickme">{{num}}</span>
</template>

<template name="eventShort">
    <span class="label label-important">{{num}}</span>
    <span class="chopped">{{description}}</span>
</template>


