<template name="userList">
    <div class="well well-skinny bigger-labels data-labels
    fill-flex scroll-vertical">
        {{#if loaded}}
            Users:
            {{! Weirdness: see discussion at http://stackoverflow.com/q/23918439/586086 }}
            {{#each users}}{{> userPill}}&nbsp;{{/each}}
        {{else}}
            {{> spinner}}
        {{/if}}
    </div>
</template>

<template name="userPill">
    <span class="user-pill-container label label-{{labelClass}}">{{username}}</span>
</template>

<template name="userInvitePopup">
    <button class="btn btn-sm btn-info action-chat-invite">Invite to Chat</button>
</template>

<template name="tweetIcon">
    <div class="tweet-icon-container">
        <span class="label label-primary">
            <span class="glyphicon glyphicon-tag"></span>{{num}}
        </span>
    </div>
</template>

<template name="tweetDragHelper">
    <div class="data-dragging popover-content">
        <span class="label label-primary">
            <span class="glyphicon glyphicon-tag"></span>{{num}}
        </span>
        {{> dataContent}}
    </div>
</template>

<template name="tweetPopup">
    {{> dataContent}}
    <button class="btn btn-xs btn-danger data-cell-icon action-unlink-tweet" title="Hide this tweet">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</template>

<template name="dataContent">
    {{#if url}}
        <a href="{{url}}" class="embedly-card">{{url}}</a>
    {{/if}}
    {{#if text}}
        <span class="data-text">{{{replaceURLs text}}}</span>
    {{/if}}
</template>

<template name="tweetIconClickable">
    <span class="label label-primary tweet-icon clickme" data-tweetid="{{_id}}"
          title="Click to jump to this tweet">
        <span class="glyphicon glyphicon-tag"></span>{{num}}
    </span>
</template>

<!-- Tweets for autocompletion -->
<template name="tweetNumbered">
    <span class="label label-primary">
        <span class="glyphicon glyphicon-tag"></span>{{num}}
    </span>
    <span class="chopped">{{text}}</span>
</template>

<template name="eventIconClickable">
    <span class="label label-danger event-icon clickme" data-eventid="{{_id}}"
          title="Click to jump to this event">{{num}}</span>
</template>

<template name="eventShort">
    <span class="label label-danger">{{num}}</span>
    <span class="chopped">{{description}}</span>
</template>

<template name="longLatEntry">
    <div class="editable-coord">
        <input type="number" name="long" class="form-control"
               min="{{minLong}}" max="{{maxLong}}" step="any" required>
    </div>
    <div class="editable-coord">
        <input type="number" name="lat" class="form-control"
               min="{{minLat}}" max="{{maxLat}}" step="any" required>
    </div>
</template>
