<template name="tweetIcon">
    <div class="tweet-icon-container">
        <span class="label label-info">
            <i class="icon-white icon-tag"></i>
        </span>
    </div>
</template>

<template name="tweetPopup">
    {{{text}}}
    <span class="editable-clear-x action-unlink-tweet" title="Unlink this tweet"></span>
</template>

<template name="tweetNumbered">
    <span class="label label-info">
        <i class="icon-white icon-tag"></i>{{_id}}
    </span>
    <span class="chopped">{{{text}}}</span>
</template>
