<template name="datastream">
    <form class="datastream-input fixed-flex" action="javascript:void(0)">
        <input class="form-control" type="text" placeholder="Add a link...">
    </form>
    <div class="datastream fill-flex well well-nopad flex vertical">
        {{#if loaded}}
        {{!-- again, a workaround to allow the inner divs to be dragged out --}}
        {{> dataList}}
        {{else}}
        {{> spinner}}
        {{/if}}
    </div>
</template>

<template name="dataInputConfirm">
    <form class="form-inline">
        <div class="form-group">
            <a href="{{url}}" class="embedly-card">{{url}}</a>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
        <button class="btn" type="reset">Cancel</button>
    </form>
</template>

<template name="dataList">
    <ul class="fill-flex scroll-vertical data-body bigger-labels">
        {{#each data}}
        {{> dataItem}}
        {{/each}}
    </ul>
</template>

<template name="dataItem">
    <li id="data-{{_id}}" class="data-cell {{hidden}}">
        <span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>{{num}}</span>
        {{> dataContent}}
        <button class="btn btn-danger btn-xs data-cell-icon action-data-hide"
                title="Hide this tweet">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </li>
</template>
