<template name="datastream">
    <div class="well datastream">
        {{!-- again, a workaround to allow the inner divs to be dragged out --}}
        <ul class="scroll-vertical data-body">
            {{#each data}}
                {{#if visible}}
                {{> dataItem}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="dataItem">
    <li class="data-cell {{selected}}">
        <span class="label label-info">{{_id}}</span>
        <span class="data-text">{{{text}}}</span>
        <button class="btn btn-danger btn-mini data-cell-icon action-data-hide"
                title="Hide this tweet">
            <i class="icon-white icon-remove"></i>
        </button>
    </li>
</template>

