<template name="datastream">
    <div class="datastream well well-nopad">
        {{#if loaded}}
        {{!-- again, a workaround to allow the inner divs to be dragged out --}}
        <ul class="scroll-vertical data-body bigger-labels">
            {{#each data}}
                {{#if visible}}
                {{> dataItem}}
                {{/if}}
            {{/each}}
        </ul>
        {{else}}
        {{> spinner}}
        {{/if}}
    </div>
</template>

<template name="dataItem">
    <li id="data-{{_id}}" class="data-cell {{hidden}}">
        <span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>{{num}}</span>
        <span class="data-text">{{{text}}}</span>
        <button class="btn btn-danger btn-xs data-cell-icon action-data-hide"
                title="Hide this tweet">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </li>
</template>

