<template name="docs">
    <div class="row-fluid fill-height">
        <div class="col-xs-3 fill-height carrier">
            {{#if loaded}}
                {{> docTabs}}
            {{else}}
                {{> spinner}}
            {{/if}}
        </div>
        <div class="col-xs-9 fill-height carrier">
            {{> docCurrent}}
        </div>
    </div>
</template>

<template name="docTabs">
    <ul class="nav nav-pills nav-stacked" id="doc-list">
    {{#each documents}}
    {{> docTab}}
    {{/each}}
    {{#if noDocuments}}
        <li class="disabled">
            <a>No docs yet. Create one!</a>
        </li>
    {{/if}}
    </ul>
    <button class="btn btn-primary action-document-new">New Document</button>
</template>

<template name="docTab">
    <li class="{{#if active}}active{{/if}}">
        <a href="#" data-toggle="tab">
            {{title}}
        </a>
    </li>
</template>

<template name="docCurrent">
    {{#with document}}
        {{> docTitle}}
        <button class="btn btn-danger btn-xs pull-right action-document-delete">Delete this document</button>
        {{> sharejsAce docid=this callback=config id="editor"}}
    {{/with}}
</template>

<template name="docTitle">
    <span class="editable" title="Rename this document" data-autotext="never">{{title}}</span>
</template>
