
<template name="events">
    <div id="events">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Province</th>
                <th>Region</th>
                <th>Type</th>
                <th>Description</th>
                <th>Sources</th>
                <th class="header-location">Location</th>
                <th class="header-buttons"></th>
            </tr>
            </thead>
            <tbody>
            {{#each eventRecords}}
            {{> eventRow}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <a href="#" class="btn button-newevent">Create New Event</a>
</template>

<template name="eventRow">
    <tr {{#if editing}} class="info" {{/if}}>

        {{eventCell this "province" iAmEditing}}
        {{eventCell this "region" iAmEditing}}
        {{eventCell this "type" iAmEditing}}
        {{eventCell this "description" iAmEditing}}
        {{eventCell this "sources" iAmEditing}}

        <td><div>
        {{#if location}}
            <a href="/map">{{{formatLocation}}}</a>
        {{else}}
            <button title="Place on map" class="btn btn-mini btn-info button-locate">
                <i class="icon-white icon-search"></i>Locate
            </button>
        {{/if}}
        </div></td>

        <td>
        {{#if editing}}
            {{#if iAmEditing}}
                <button title="Save this event" class="btn btn-mini btn-success button-save">
                    <i class="icon-white icon-ok"></i>Save
                </button>
            {{else}}
                {{> userPill editorUser}} is editing
            {{/if}}
        {{else}}
            <button title="Edit this event" class="btn btn-mini btn-warning button-edit">
                <i class="icon-white icon-pencil"></i>
            </button>
            <button title="Delete this event" class="btn btn-mini btn-danger button-delete">
                <i class="icon-white icon-trash"></i>
            </button>
        {{/if}}
        </td>
    </tr>
</template>

<template name="_eventCell">
    <td><div data-ref="{{field}}" class="{{#if editable}}editable{{/if}}">
        {{value}}
    </div></td>
</template>
