
<template name="events">
    {{! isolate this so it doesn't scroll when changing sort}}
    {{> eventsHeader}}

    {{! We add and remove a highlighted class to this div to avoid messing with scroll}}
    <div id="events" class="shadow-outline">

    {{!-- This extra container solves the problem of the absolute div clipping shit --}}
    {{#if loaded}}
        <div class="scroll-vertical events-body">
            {{! isolate this to not mess with the outer scrolling}}
            {{#isolate}}
            <table class="table table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th class="header-num vertical-nopad"></th>
                    {{#each eventFields}}
                    <th class="vertical-nopad"></th>
                    {{/each}}
                    <th class="vertical-nopad">{{! Sources}}</th>
                    <th class="header-location vertical-nopad"></th>
                    <th class="header-buttons vertical-nopad"></th>
                </tr>
                </thead>

                <tbody>
                {{#if noEvents}}
                {{> emptyRow}}
                {{/if}}

                {{#each eventRecords}}
                {{> eventRow}}
                {{/each}}
                </tbody>
            </table>
            {{/isolate}}
        </div>
    {{else}}
        {{> spinner}}
    {{/if}}
    </div>

    {{> createFooter}}
</template>

<template name="eventsHeader">
    <table class="table table-condensed table-hover table-striped compact events-header">
        <thead>
        <tr>
            <th class="header-num">
                #
                <span class="sorter label {{labelClass}}" data-key="num">
                    <i class="icon-white {{iconClass}}"></i>
                </span>
            </th>
            <th>Sources</th>
            {{#each eventFields}}
            <th>
                {{name}}
                <span class="sorter label {{labelClass}}" data-key="{{key}}">
                    <i class="icon-white {{iconClass}}"></i>
                </span>
            </th>
            {{/each}}

            <th class="header-location">
                Location
            </th>
            <th class="header-buttons"></th>
        </tr>
        </thead>
    </table>
</template>

<template name="emptyRow">
    <tr>
        <td colspan="{{numEventCols}}">
            <h3 class="muted text-center">No events yet. Create some!</h3>
        </td>
    </tr>
</template>

<template name="createFooter">
    <div class="text-center event-create">
        <button class="btn btn-primary center action-event-new">Create New Event</button>
    </div>
</template>

<template name="eventRow">
    <tr class="{{rowClass}}">

        {{! TODO - if adding cell locking, need to overcome reactivity issues when adjacent changed}}
        {{> eventNum}}

        {{> eventSources}}

        {{#each eventFields}}
            {{{ eventCell ../this this }}}
        {{/each}}

        {{> eventLocation}}

        <td class="text-center">
            <p class="compact">{{{ editCell }}}</p>
            {{> eventVoting }}
        </td>
    </tr>
</template>

<template name="eventNum">
    <td>
        <span class="label label-important">{{num}}</span>
    </td>
</template>

<template name="_eventCell">
    <td>
        {{#if editable}}
        <div data-type="text" data-original-title="Enter {{name}}" data-inputclass="input-xlarge" class="editable">
            {{value}}
        </div>
        {{else}}
        {{value}}
        {{/if}}
    </td>
</template>

<template name="_eventCellSelect">
    <td>
        {{#if editable}}
        <div data-type="select" data-original-title="Select {{name}}" data-inputclass="input-large" class="editable">
            {{textValue}}
        </div>
        {{else}}
        {{textValue}}
        {{/if}}
    </td>
</template>

<template name="eventSources">
    <td>
        <div>
            {{#each sources}}
            {{> tweetIcon findTweet}}
            {{/each}}
        </div>
    </td>
</template>

<template name="eventLocation">
    <td>
        <div>
            {{#if editable}} {{! defined as a helper for location}}
                <div data-type="longlat" data-original-title="Enter longitude and latitude:" class="editable">{{{formatLocation}}}</div>
            {{else}}
                {{#if location}}
                <a href="#" title="View on map" class="action-event-mapview">
                    {{{formatLocation}}}
                </a>
                {{else}}
                <button title="Place on map" class="btn btn-mini btn-info action-event-locate">
                    <i class="icon-white icon-screenshot"></i>Locate
                </button>
                {{/if}}
            {{/if}}
        </div>
    </td>
</template>

<template name="_editCellSelf">
    <button title="save this event" class="btn btn-mini btn-success action-event-save">
        <i class="icon-white icon-check"></i>Save
    </button>
</template>

<template name="_editCellOpen">
    <button title="Edit this event" class="btn btn-mini btn-primary action-event-edit">
        <i class="icon-white icon-pencil"></i>
    </button>
    <button title="Delete this event" class="btn btn-mini btn-danger action-event-delete">
        <i class="icon-white icon-trash"></i>
    </button>
</template>

<template name="eventVoting">
    <div class="event-voting-container">
        <span class="badge {{badgeClass}}">
            {{numVotes}} <i class="icon-white icon-ok"></i>
        </span>
    </div>
</template>

<template name="eventVotePopup">
    <div class="text-center">
    <p>
    {{#if anyVotes}}
        Users who verified this event:
        {{#each votes}}
        {{> userPill lookupUser}}
        {{/each}}
    {{else}}
        <i>No one has verified this event.</i>
    {{/if}}
    </p>

    {{#if iVoted}}
        <button class="btn btn-danger btn-mini action-event-unvote">
            <i class="icon-white icon-remove"></i> Unverify
        </button>
    {{else}}
        <button class="btn btn-success btn-mini action-event-upvote">
            <i class="icon-white icon-ok"></i> Verify
        </button>
    {{/if}}
    </div>
</template>
