<head>
  <title>CrowdMapper</title>
</head>

<body>
  <div class="container-fluid full-height">
      <div class="row-fluid full-height">
          <div class="span2 full-height">
              {{> datastream}}
          </div>
          <div class="span7 full-height carrier">
              {{> pages}}
          </div>
          <div class="span3 full-height carrier">
             {{> userList}}
             {{> chat}}
          </div>
      </div>
  </div>

  {{> turkserver}}
</body>

<template name="userList">
    <div class="well user-list">
    Users:
    {{#each usersOnline}}
    {{> userPill}}
    {{/each}}
    </div>
</template>

<template name="userPill">
    <span class="label label-success">{{username}}</span>
</template>
