<head>
  <title>CrowdMapper</title>
</head>

<template name="home">
    <div class="hero-unit">
        <h1>Welcome to CrowdMapper.</h1>
        <a href="/mapper" class="btn btn-success">Get started!</a>
    </div>
</template>

<template name="admin">
  {{> turkserver}}
</template>

<template name="sidebar">
    {{> userList}}
    {{> chat}}
</template>

<template name="userList">
    <div class="well user-list">
    Users:
    {{#each usersOnline}}
    {{> userPill}}
    {{/each}}
    </div>
</template>

<template name="userPill">
    <span class="label label-success">{{username}}</span>
</template>
