<template name="map">
    <div class="fill-height shadow-outline" id="map"></div>
</template>

<template name="mapPopup">
    <div class="bigger-labels data-labels">
    {{! XXX this needs some major display reformatting}}
    <strong class="pull-right">({{{formatLocation}}})</strong>

    <strong class="text-error">{{dereference "type" type}}</strong>
    <br>
    <small>{{description}}</small>
    <br>
    <small>
        <strong>{{dereference "province" province}}</strong>
         -
        <em>{{dereference "region" region}}</em>
    </small>

    <p>
    {{#each sources}}
    {{> tweetIcon findTweet}}
    {{/each}}
    </p>

    {{{ editCell }}}
    <button title="Remove from map" class="btn btn-xs btn-warning action-event-unmap">
        <span class="glyphicon glyphicon-remove"></span> Unmap
    </button>
    </div>
</template>
