<head>
    <!-- <script src="/lib/OpenLayers.js"></script>Only use this when running from a repo -->
    <link rel="stylesheet" href="http://dev.openlayers.org/releases/OpenLayers-2.13.1/theme/default/style.css" type="text/css">
</head>

<template name="map">
    <div class="full-height" id="map"></div>
</template>

<template name="mapPopup">
    <strong class="text-error">{{type}}</strong>
    <br>
    <small>{{description}}</small>
    <br>
    <strong><small>{{province}}</small></strong>
    <br>
    <em><small>{{region}}</small></em>
    <br>
    <strong>{{{formatLocation}}}</strong>

    {{#each sources}}
    {{> tweetIcon this}}
    {{/each}}

</template>
