<template name="map">
    <div class="fill-height shadow-outline" id="map"></div>
</template>

<template name="mapPopup">
    <div class="event-record bigger-labels data-labels">
    {{! float right before other stuff makes it on the same line }}

    <div class="clearfix">
        <strong class="pull-right">({{{formatLocation}}})</strong>
        <span class="label label-danger">{{num}}</span>
        <strong class="text-error">{{dereference "type" type}}</strong>
    </div>

    <small>{{description}}</small>

    <div class="clearfix small">
        <em class="pull-right">{{dereference "region" region}}</em>
        <strong class="pull-left">{{dereference "province" province}}&nbsp;</strong>
    </div>

    <p>
    {{#each sources}}
    {{> tweetIcon findTweet}}
    {{/each}}
    </p>

    {{> editCell }}
    <button title="Remove from map" class="btn btn-xs btn-warning action-event-unmap">
        <span class="glyphicon glyphicon-remove"></span> Unmap
    </button>
    </div>
</template>
