
<template name="notifications">
    <a href="#" class="dropdown-toggle {{glowClass}}" data-toggle="dropdown">
        <b>Notifications</b>
        {{#with notificationCount}}
        <span class="badge alert-danger">{{this}}</span>
        {{/with}}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        {{#if notificationCount}}
        {{#each notifications}}
        {{{renderNotification}}}
        {{/each}}
        {{else}}
        <li><a><i>No notifications.</i></a></li>
        {{/if}}
    </ul>
</template>

<template name="_inviteNotification">
    <li>
        <a href="#">
            <b>{{username}}</b> invited you to <i>{{roomname}}</i>
        </a>
    </li>
</template>

<template name="_mentionNotification">
    <li>
        <a href="#">
            <b>{{username}}</b> mentioned you in <i>{{roomname}}</i>
        </a>
    </li>
</template>
