<head>
    <link rel="stylesheet" href="http://dev.openlayers.org/releases/OpenLayers-2.12/theme/default/style.css" type="text/css">
</head>

<template name="pages">
    <ul class="nav nav-tabs" id="tabs">
        <li><a href="{{eventsPath}}" data-target="events" data-toggle="tab">Events</a></li>
        <li><a href="{{mapPath}}" data-target="map" data-toggle="tab">Map</a></li>
    </ul>

    <div class="pages">
        {{#isolate}}
        {{renderPage}}
        {{/isolate}}
    </div>
</template>

<template name="home">
    <div class="hero-unit">
        <h1>Welcome to CrowdMapper.</h1>
        <p>Data is to the left, and you can chat with other users below.</p>
    </div>
</template>

<template name="map">
    <div id="map"></div>
</template>
